<footer>
    <div class="container">
        <div class="data">

            <div class="logo">
                <img src="./assets/svg/svg-logo.svg" loading="lazy" alt="Wedium logo">
            </div>
            <div class="contact">
                <img src="./assets/svg/svg-f-fb.svg" loading="lazy" alt="facebook">
                <img src="./assets/svg/svg-f-ins.svg" loading="lazy" alt="instegram">
                <img src="./assets/svg/svg-f-tik.svg" loading="lazy" alt="tiktok">
            </div>
            <div class="logo-info">
                <span class="copyright">© 2023. All rights reserved.</span>
            </div>
        
        </div>
        <div class="pages">

        </div>
    </div>
</footer>