<section class="signup">
    <div class="container">
        <div class="signup-box">
            <div class="img">
                <img src="./assets/svg/svg-logo.svg" alt="" srcset="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dicta, ipsam illum quaerat
                    aspernatur sunt tenetur aut vero doloribus sequi delectus atque maiores asperiores cum culpa
                    explicabo laborum rem dignissimos inventore. Delectus nobis recusandae tenetur unde, doloribus
                    voluptate eum atque temporibus nam ad, magni, quibusdam amet dolores asperiores quae quo id in. Rem
                    quidem doloremque labore tempora numquam aspernatur at facilis possimus magnam nam sequi ipsam
                    neque ducimus vero voluptate maiores obcaecati excepturi velit cupiditate recusandae, laboriosam
                    incidunt! Beatae non odio inventore error laudantium amet hic corrupti consequatur rem maiores
                    molestiae nemo iure officia, eligendi adipisci, voluptatem assumenda necessitatibus numquam
                    repudiandae iusto. Iure sint fugit qui repellat ullam dignissimos, nulla labore repellendus
                    officiis, enim inventore iusto perspiciatis cumque! Dolor, architecto quas.</p>
            </div>
            <div class="data">
                <h3>Sign Up</h3>
                <div class="signup-form">
                    <form [formGroup]="signUp_fg">
                        <mat-form-field appearance="outline">
                            <mat-label> User Name</mat-label>
                            <input matInput placeholder="John Smith" formControlName="username">
                            <mat-error *ngIf="signUp_fg.get('userName_fc')?.hasError('required')">This Field Is Required</mat-error>
                            <mat-error *ngIf="signUp_fg.get('userName_fc')?.hasError('minlength')">User Name must be more than 6 character</mat-error>
                        </mat-form-field>
                        <!-- --------------------- -->
                        <mat-form-field appearance="outline">
                            <mat-label>Enter your email</mat-label>
                            <input matInput placeholder="pat@example.com" #email formControlName="email">
                            <mat-error *ngIf="signUp_fg.get('userEmail_fc')?.hasError('required')">This Field Is Required</mat-error>
                            <mat-error *ngIf="signUp_fg.get('userEmail_fc')?.hasError('pattern')">Please Enter Valid Email Format</mat-error>
                        </mat-form-field>
                        <!-- --------------------- -->
                        <mat-form-field appearance="outline">
                            <mat-label>Enter your password</mat-label>
                            <input matInput type="password" placeholder="34234234" formControlName="password">
                            <mat-error *ngIf="signUp_fg.get('userEmail_fc')?.hasError('required')">This Field Is Required</mat-error>
                        </mat-form-field>
                        <!-- --------------------- -->
                        <!-- <button ty></button> -->
                        <app-button type="submit" text="Sign Up" color="lite" (btnClick)="formSubmit()" [isDisabled]='!signUp_fg.valid'  ></app-button>
                    </form>

                </div>.
            </div>
        </div>
    </div>
</section>